.nLabel{
    text-align: left;
}
.nutrition-form-card {
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
}

.nutrition-form {
    display: flex;
    justify-content: space-around;
}

label{
    text-align: left;
}

.nSave{
    margin-top: 20px;
    margin-bottom: 10px;
}