.title{
    text-align: center;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-variant: small-caps;
    font-stretch: ultra-expanded;
}

.more {
	text-align: center;
	font-size: 34px;
    font-family: 'Varela Round', sans-serif;
    
}

.stats {
    display: flex;
    justify-content: space-around ;
	text-align: center;
}
.more-stats {
    display: flex;
    justify-content: space-around;
	text-align: center;
}

.exercise-div{
    background-color: #2F97C1;
    width: 300px;
    height: 175px;
	box-shadow: 3px 4px 0px 0px #1564ad;
	/* background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%); */
	/* background-color:#79bbff; */
	border-radius:5px;
	border:1px solid #337bc4;
}
.sleep-div{
    background-color: #BE92A2;
    width: 300px;
	box-shadow: 3px 4px 0px 0px #6d4a57;
	
	border-radius:5px;
	border:1px solid #6d4a57;
}
.nutrition-div{
    background-color: #cbd19e;
    width: 300px;
	box-shadow: 3px 4px 0px 0px #7e835f;
	border-radius:5px;
	border:1px solid #7e835f;
}
.calories-div {
    background-color: #cbd19e;
    width: 300px;
    height: 115px;
	box-shadow: 3px 4px 0px 0px #7e835f;
	border-radius:5px;
	border:1px solid #7e835f;
	

}
.intensity-div{
    background-color: #2F97C1;
    width: 300px;
    height: 115px;
	box-shadow: 3px 4px 0px 0px #1564ad;
	/* background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%); */
	/* background-color:#79bbff; */
	border-radius:5px;
	border:1px solid #337bc4;
}
.hours-div {
    background-color: #BE92A2;
    width: 300px;
    height: 115px;
	box-shadow: 3px 4px 0px 0px #6d4a57;
	
	border-radius:5px;
	border:1px solid #6d4a57;
}

.buttons {
	display: flex;
	justify-content:space-around;
}
.space{
	height: 2em;
}

/* button {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
} */

.sLink, .eLink {
	color: white;
	text-decoration: none;
}
.nLink {
	color: black;
	text-decoration: none;
}
.eBtn:hover {
	background:linear-gradient(to bottom, #2e3e99 5%, #3c8fe2 100%);
	background-color:#3c8fe2;
	border:1px solid #7e835f;
}
.eBtn:active {
	position:relative;
	top:1px;
}
.sBtn:hover {
	background:linear-gradient(to bottom, #a0667b 5%, #6d4a57 100%);
	background-color:#6d4a57;
	border:1px solid #414239;
}
.sBtn:active {
	position:relative;
	top:1px;
}
.nBtn:hover {
	background:linear-gradient(to bottom, #bec77f 5%, #7e835f 100%);
	background-color:#7e835f;
	border:1px solid #7e835f;
}
.nBtn:active {
	position:relative;
	top:1px;
}

.eBtn{
    box-shadow: 3px 4px 0px 0px #1564ad;
	/* background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%); */
	/* background-color:#79bbff; */
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    background-color: #2F97C1
}

.sBtn{
    box-shadow: 3px 4px 0px 0px #6d4a57;
	/* background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff; */
	border-radius:5px;
	border:1px solid #6d4a57;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #6d4a57;
    background-color: #BE92A2;
}

.nBtn{
    box-shadow: 3px 4px 0px 0px #7e835f;
	/* background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff; */
	border-radius:5px;
	border:1px solid #7e835f;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7e835f;
    background-color: #cbd19e
}